.p{
    position: relative;
}
.text-container{
    width: 80%;
    height: 50vh;    
    margin: 0 auto;
    box-shadow: 0px 6px 13px 4px #0000002b;
    padding:2rem 2rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;    
}

.text-editor-header{
    width: 80%;
    background-image: linear-gradient(160deg, #0094e99d 0%, #80d0c79d 100%);
    margin: 0 auto;
    background-color: #4158D0;
    background-color: #0093E9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:0px 6px 6px 0px #0000000e;      
}

.text-editor-header .btn{
    border:none;
    outline: none;    
    background-color: transparent;
    cursor: pointer;
    
}